@model List<Doktor>

<h2>Doktor Listesi</h2>

<p>
    <a asp-action="Create">Yeni Doktor Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Poliklinik</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doktor in Model)
        {
            <tr>
                <td>@doktor.Adi</td>
                <td>@doktor.Soyadi</td>
                <td>@doktor.Poliklinik.Adi</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@doktor.DoktorId">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@doktor.DoktorId">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@doktor.DoktorId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
