
@model List<Proje.Models.Randevu>

<h2>Randevu Yönetim Ekranı</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Kullanıcı Adı
            </th>
            <th>
                Doktor Adı
            </th>
            <th>
                Poliklinik Adı
            </th>
            <th>
                Tarih
            </th>
            <th>
                Durum
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>
                    @randevu.Kullanici.Adi
                </td>
                <td>
                    @randevu.Doktor.Adi
                </td>
                <td>
                    @randevu.Poliklinik.Adi
                </td>
                <td>
                    @randevu.Tarih
                </td>
                <td>
                    @randevu.Durum
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@randevu.RandevuId">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@randevu.RandevuId">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@randevu.RandevuId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
